.container {
    // height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;

    .back {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 50%;
    }

    .header {
        width: 59%;

    }
}